/* Estilos gerais */
body {
    background-image: url(/imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
}

/*Cabeçalho */

.header h1 {

    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    color: white;
    font-size: 200%;
    background-size: 400;

}

.header input {
    width: 300px;
    height: 0px;
    margin-left: 460px;
    padding: 10px;
    border-radius: 30px;
    border: none;

}

.header button {
    margin-left: 00px;
    padding: 0px;
    font-size: 0%;
    border-radius: 30px;
    border: none;
}


.header img {
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
    cursor: pointer;
}

.header h3 {

    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    font-size: 120%;
    color: white;
}



/*Seção de recursos*/

.recursos-container {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 50px;
    background-color: white;
    margin-top: 0px;
}

.recursos-item {
    text-align: center;
    max-width: 250px;
    margin-top: 280px;
}

.recursos-item img {
    width: 120px;
    height: 90px;

}

.recursos-item h1 {
    font-size: 40px;

}

.recursos-item h2 {
    font-size: 20px;

}

.recursos-item h3 {
    font-size: 20px;
    color: red;

}

/*pratos 1*/
.pratos1-container {
    display: flex;
    margin-right: 500px;
    gap: 500px;
    padding: 0px;
    background-color: white;
}

.pratos1-item {
    float: left;
    max-width: 250px;
    margin-top: 80px;
}

.pratos1-item img {
    float: left;
    width: 380px;
    height: 250px;
    margin-left: 300px;


}

.pratos1-item h1 {
    font-size: 40px;
    color: black;
    
}


.pratos1-item h2 {
    font-size: 20px;
   
}

.pratos1-item button {
    background-color: red;
    color: white;
    border-radius: 10px;
    border: 5px;
    cursor: pointer;
    
}

/*pratos 2*/
.pratos2-container {
    display: flex;
    justify-content: center;
    gap: 500px;
    padding: 0px;
    background-color: rgba(245, 235, 235, 0.986);
}

.pratos2-item {
    text-align: left;
    max-width: 250px;
    margin-top: 60px;
    margin-left: 0px;
}

.pratos2-item img {
    text-align: left;
    width: 380px;
    height: 250px;
    margin-left: 0px;

}

.pratos2-item h1 {
    font-size: 40px;
    color: black;
    margin-left: 0px;
}

.pratos2-item h2 {
    font-size: 20px;
    margin-left: 0px;
}

.pratos2-item button {
    background-color: red;
    color: white;
    border-radius: 10px;
    border: 5px;
    cursor: pointer;
}

/*cidades*/
/*topcidades*/
.footer-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    padding: 50px 80px;
    background-color: black;
}

.footer-column h2 {
    font-size: 18px;
    color: white;
    margin-bottom: 15px;
}

.footer-column p {
    font-size: 14px;
    color: white;
    margin: 5px 0;
    opacity: 0.8;
}

.footer-column p:hover {
    opacity: 1;
    text-decoration: underline;
    cursor: pointer;
}

/* Rodapé */
footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #333;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    opacity: 0.7;
}

.footer-links a:hover {
    opacity: 1;
    text-decoration: underline;
}

.footer-links span {
    color: white;
    opacity: 0.7;
}